## Aufgabenstellung

Analysieren der Datei books.csv

* Schritt 1: Laden der Datei
* Schritt 2: Prepare der Daten in einen DataFrame

In [2]:
import numpy as np 
import pandas as pd

In [17]:
books_data_frame = pd.read_csv('books.csv')
books_data_frame.rename(columns={'ISBN': 'isbn', 'Title': 'title', 'Price': 'books_price'})

        isbn                      title  books_price
0     ISBN-1                    Title 1           91
1     ISBN-2                    Title 2           15
2     ISBN-3                    Title 3           13
3     ISBN-4                    Title 4           91
4     ISBN-5                    Title 5           41
..       ...                        ...          ...
97   ISBN-95  Django – a Python Library           64
98   ISBN-96                   Title 99           78
99   ISBN-97                  Title 100           42
100  ISBN-98                  Title 101           67
101  ISBN-99                  Title 102           30

[102 rows x 3 columns]

* Play with references

In [18]:
books_data_frame = pd.read_csv('books.csv')
df2 = books_data_frame.copy()
books_data_frame.rename(columns={'ISBN': 'isbn', 'Title': 'title', 'Price': 'books_price'}, inplace=True)
df2

        ISBN                      Title  Price
0     ISBN-1                    Title 1     91
1     ISBN-2                    Title 2     15
2     ISBN-3                    Title 3     13
3     ISBN-4                    Title 4     91
4     ISBN-5                    Title 5     41
..       ...                        ...    ...
97   ISBN-95  Django – a Python Library     64
98   ISBN-96                   Title 99     78
99   ISBN-97                  Title 100     42
100  ISBN-98                  Title 101     67
101  ISBN-99                  Title 102     30

[102 rows x 3 columns]

## Selektion

### loc und iloc

* loc: Selektion über einen Index-Wert
* iloc: Selektion über den technischen Index

In [34]:
df = pd.read_csv('books.csv', index_col='ISBN')
df
#df.loc[3:6, ['Title', 'ISBN']]
df.loc['ISBN-3']
df.iloc[3:6]

          Title  Price
ISBN
ISBN-4  Title 4     91
ISBN-5  Title 5     41
ISBN-6  Title 6     62

### Selektion mit Kriterien

In [46]:
# Demonstration: erzeugen eines Boolean-Arrays
selection = [False]*df.index.size
selection[9] = True
selection[66] = True

df[selection]

# Real, untypisch

selection = df['Price'] > 94
df[selection]

# Real, typisch
df[df['Price'] > 90]

                 Title  Price
ISBN
ISBN-1         Title 1     91
ISBN-4         Title 4     91
ISBN-11  Python Basics     99
ISBN-19       Title 19     95
ISBN-35       Title 35     98
ISBN-40       Title 40    100
ISBN-41       Title 41     98
ISBN-47       Title 47     98
ISBN-42       Title 76     92
ISBN-92       Title 95     94
ISBN-94       Title 97     91