## Pandas 

### Importieren der notwendigen Bibliotheken

In [1]:
import numpy as np
import pandas as pd

### Erstellen einer Series 

mt einer Standard-Python-Liste

In [12]:
data_series = pd.Series([1,2,3,4])

Ausgabe der Series mit Anzeige des Index

In [3]:
print(data_series)

0    1
1    2
2    3
3    4
dtype: int64

Erstellung mit einem Dictionary

In [7]:
data_series = pd.Series({'81373': 'München', '70567':'Stuttgart'})
print(data_series)

81373      München
70567    Stuttgart
dtype: object

Ausgabe von Size, Values, Index

In [11]:
data_series.size
data_series.shape
data_series.values # Vorsicht, im Gegensatz zum Python Dictionary eine Eigenschaft, keine Funktion
data_series.index

Index(['81373', '70567'], dtype='object')

## DataFrames

In [17]:
data_series1 = pd.Series([1,2,3,4])
data_series2 = pd.Series([5,9,11,77])
data_frame = pd.DataFrame([data_series1, data_series2])
data_frame.columns = ['A', 'B', 'C', 'D']
data_frame

   A  B   C   D
0  1  2   3   4
1  5  9  11  77