### Analyse des Covid-Datensatzes

##### Importieren der notwendigen Bibliotheken

In [7]:
import pandas as pd

Einlesen der Daten

In [8]:
df = pd.read_csv('covid_data.csv')

Pr√ºfen der Daten

In [9]:
df.head()

,Unnamed: 0,country,continent,date,cases,deaths,country_code,population,normalized deaths,normalized cases
0,0,Afghanistan,Asia,2020-04-12,34,3,AFG,37172386.0,8.070507e-08,9.146575e-07
1,1,Albania,Europe,2020-04-12,17,0,ALB,2866376.0,0.000000e+00,5.930834e-06
2,2,Algeria,Africa,2020-04-12,64,19,DZA,42228429.0,4.499339e-07,1.515567e-06
3,3,Andorra,Europe,2020-04-12,21,2,AND,77006.0,2.597200e-05,2.727060e-04
4,4,Angola,Africa,2020-04-12,0,0,AGO,30809762.0,0.000000e+00,0.000000e+00

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206 entries, 0 to 205
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         206 non-null    int64
 1   country            206 non-null    object
 2   continent          206 non-null    object
 3   date               206 non-null    object
 4   cases              206 non-null    int64
 5   deaths             206 non-null    int64
 6   country_code       206 non-null    object
 7   population         206 non-null    float64
 8   normalized deaths  206 non-null    float64
 9   normalized cases   206 non-null    float64
dtypes: float64(3), int64(3), object(4)
memory usage: 16.2+ KB

In [12]:
df.describe()

,Unnamed: 0,cases,deaths,population,normalized deaths,normalized cases
count,206.000000,206.000000,206.000000,2.060000e+02,2.060000e+02,206.000000
mean,102.500000,395.247573,29.713592,3.661198e+07,1.063542e-06,0.000019
std,59.611241,2160.176439,159.533131,1.400816e+08,3.881102e-06,0.000045
min,0.000000,0.000000,0.000000,1.000000e+03,0.000000e+00,0.000000
25%,51.250000,0.000000,0.000000,1.047316e+06,0.000000e+00,0.000000
50%,102.500000,11.500000,0.000000,6.969078e+06,0.000000e+00,0.000002
75%,153.750000,88.750000,3.000000,2.517948e+07,3.082396e-07,0.000016
max,205.000000,28391.000000,1831.000000,1.392730e+09,2.959893e-05,0.000355